---
BasedOnStyle: LLVM
TabWidth: 2
IndentWidth: 2
UseTab: Never
ColumnLimit: 100
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveAssignments: AcrossComments
...
